* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}
#theme:checked ~ .App {
  filter: invert(1);
}

.App {
  min-height: 100vh;
  width: 100%;
  background-color: white;
}
.main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

img {
  object-fit: cover;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* --- AUTH */
@import url("./styles/auth.css");

/* --- loading */
@import url("./styles/loading.css");

/* --- chat */
@import url("./styles/chat.css");

/* --- profile */
@import url("./styles/profile.css");

.messageC {
  height: calc(100vh - 150px);
}

/* --- chatgroup */
@import url("./styles/chatgroup.css");
