* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}
#theme:checked ~ .App {
  filter: invert(1);
}

.App {
  min-height: 100vh;
  width: 100%;
  background-color: #f8f8f8;
}
.main {
  width: 100%;
  margin: auto;
}
img {
  object-fit: cover;
}

/* --- AUTH */
@import url("./auth.css");

/* --- loading */
@import url("./loading.css");

/* ----------Header------------ */
@import url("./header.css");

/* ----------Avatar------------ */
@import url("./avatar.css");

/* ----------Profile------------ */
@import url("./profile.css");

/* ----------Home------------ */
@import url("./home.css");

/* ----------StatusModal------------ */
@import url("./status_modal.css");

/* ----------Comments------------ */
@import url("./comments.css");

/* --- chat */
@import url("./chat.css");

/* --- chatgroup */
@import url("./chatgroup.css");

/* --- search */
@import url("./search.css");

/* --- friend request */
@import url("./friendRequest.css");

/* ----------Post Thumb------------ */
@import url("./post_thumb.css");

.mode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
