.search_form {
  position: relative;
  margin-top: 10%;
}

.search_form #search {
  background: white;
  border: 1px solid #ddd;
  min-width: 200px;
  min-height: 30px;

  width: 100%;
  outline: none;
  text-indent: 5px;
  border-radius: 30px;
}

.search_form .search_icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  pointer-events: none;
}

.search_form .search_icon .material-icons {
  font-size: 14px;
  transform: translateY(3px);
}

.search_form .close_search {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

.search_form .users {
  position: relative;
  width: 100%;
  min-width: 250px;
  background: #fafafa;
  max-height: calc(100vh - 150px);
  overflow: auto;
  margin-top: 3px;
}
